.container {
    margin: auto;
    width: 500px;
    border: 1px solid black;
    padding: 20px;
    /* margin-top: 100px; */
    border-radius: 10px;
}
.container h1 {
    text-align: center;
}
.layout {
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.button {
    color: white;
    margin: 0px 10px;
    padding: 10px 50px;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
.button:hover {
    border: 1px solid black;
    transition: all 100ms ease-in-out;
    color: black;
}
